# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Local Terraform directories
.terraform/

# Crash log files
crash.log

# Sensitive variable files
*.tfvars

# Override files
override.tf
override.tf.json

# Terraform plan files
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc
